<h1> Hello Jeff superheros.home </h1>
<div ng-app="app">
  {{ 1 + 1 }}
<div ng-app="app">
	<div ng-controller="pageCtrl" ng-init="fetchData()">
    <label> Filter by Name </label>
    <input ng-model="nameFilter"> 
    <label> Filter by Ability </label>
    <input ng-model="abilityFilter"> 

<button ng-click="changeOrder('name')"> Order by Name 
</button>
<button ng-click="changeOrder('details')"> Order by Details </button> 


		<div ng-repeat="superhero in superheros |
    filter: {name: nameFilter} | 
    filter: {ability: abilityFilter} | orderBy: orderByAttribute:descending " 
    >
			<h3 ng-click="toggleVisible(superhero)">{{superhero.name}}</h3>
      <p> {{superhero.ability}}</p> 
			<p ng-if="superhero.name"
			</div>
		</div>
	</div> 

    <div id="form">
      <div id="errors">
        <p ng-repeat="error in errors">{{ error }}</p>
      </div>
      Name: <input ng-model="newName">
<!--       Details: <input ng-model="newPersonDetails"> -->
      <button ng-click="addSuperhero(newName)">Add Name</button>
    </div>

  </div>
</div>

